src/main/resources/xml/entry.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Entry" type="Entry"/>

    <xs:complexType name="Entry">
        <xs:sequence>
            <xs:element name="content" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="creationDate" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>